@font-face {
    font-family: 'Beyond';
    src: url('./assets/fonts/beyond_the_mountains.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Merriweather", "serif";
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    position: relative;
    z-index: 20;
    text-align: center;
}

.navbar__top {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #350a4eef;
}

.navbar__brand {
    width: 100px;
}

.navbar__nav__items {
    display: flex;
}

.navbar__register a,
.nav__items a {
    color: white;
}

.brand__logo {
    width: 100%;
    cursor: pointer;
}

.header__mid__content h2 {
    font-family: 'Beyond';
    font-size: 30px;
}

.header__mid__content h1 {
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 40px;
}

.button__explore {
    font-family: 'Open Sans', serif;
    width: 120px;
    height: 30px;
    font-size: 10px;
    border: none;
    border-radius: 100px;
    color: white;
    background: linear-gradient(45deg, #fd7d14, #007bff);
}

@media(min-width:1024px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        row-gap: 150px;
        position: relative;
        z-index: 20;
    }
    .navbar__brand {
        width: 200px;
    }
    .nav__items {
        align-items: center;
        display: flex;
        gap: 50px;
    }
    .button__explore {
        width: 300px;
        height: 80px;
        font-size: 40px;
        border: none;
        border-radius: 100px;
        background: linear-gradient(45deg, #fd7e14, #007bff);
    }
    .button__explore:hover {
        cursor: pointer;
        background: none;
    }
    #items__home a,
    #items__about a,
    #items__offers a,
    #items__contact a,
    #nav__login a,
    #nav__register a {
        padding: 5px 0;
        cursor: pointer;
    }
    #items__home:hover a {
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #items__about:hover a {
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #items__offers:hover a {
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #items__contact:hover a {
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #nav__login:hover a {
        border-bottom: 2px solid greenyellow;
        color: orangered;
    }
    #nav__register:hover a {
        border-bottom: 2px solid greenyellow;
        color: orangered;
    }
    .navbar__register {
        display: flex;
        align-items: center;
        gap: 10px;
        letter-spacing: 1px;
    }
    .header__mid {
        text-align: center;
        align-items: center;
    }
    .header__mid__content h2 {
        font-family: 'Beyond';
        font-size: 80px;
    }
    .header__mid__content h1 {
        font-family: "Open Sans";
        font-weight: 900;
        font-size: 92px;
    }
}