@font-face {
    font-family: 'Beyond';
    src: url('./assets/fonts/beyond_the_mountains.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Merriweather", "serif";
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    position: relative;
    z-index: 20;
    text-align: center;
}

.navbar__top {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #350a4eef;
}

.navbar__brand {
    width: 100px;
}

.navbar__nav__items {
    display: flex;
}

.navbar__register a,
.nav__items a {
    color: white;
}

.brand__logo {
    width: 100%;
    cursor: pointer;
}

.header__mid__content h2 {
    font-family: 'Beyond';
    font-size: 30px;
}

.header__mid__content h1 {
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 40px;
}

.button__explore {
    font-family: 'Open Sans', serif;
    width: 120px;
    height: 30px;
    font-size: 10px;
    border: none;
    border-radius: 100px;
    color: white;
    background: linear-gradient(45deg, #fd7d14, #007bff);
}

.hotel__image {
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 359px;
}

.food__list__container {
    position: relative;
    margin: 5rem 0;
    padding: 1rem;
}

.food__menu__card__list {
    width: 100%;
}

.food__menu__card__image {
    border-radius: 6px 6px 0 0;
    width: 100%;
}

.food__menu__card__details {
    padding: 1rem;
    text-align: left;
    color: black;
    display: flex;
    justify-content: space-between;
}

.food__menu__card__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: red;
    font-weight: 900;
}

.food__menu__card {
    margin-top: 1rem;
}

.food__list__container__button {
    margin-top: 3rem;
    text-align: center;
}

.food__list__container__button__work {
    border: none;
    border-radius: 5px;
    font-size: large;
    padding: 1rem;
    width: 100%;
    background-image: linear-gradient(to right, #ff512f 0, #dd2476 51%, #ff512f 100%);
    color: white;
}

@media(min-width:1024px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        row-gap: 150px;
        position: relative;
        z-index: 20;
    }
    .navbar__brand {
        width: 200px;
    }
    .nav__items {
        align-items: center;
        display: flex;
        gap: 50px;
    }
    .button__explore {
        width: 300px;
        height: 80px;
        font-size: 40px;
        border: none;
        border-radius: 100px;
        background: linear-gradient(45deg, #fd7e14, #007bff);
    }
    .button__explore:hover {
        cursor: pointer;
        background: none;
    }
    #items__home a,
    #items__hotel a,
    #items__trip a,
    #items__restaurant a,
    #nav__login a,
    #nav__register a {
        padding: 5px 0;
        cursor: pointer;
    }
    #items__home:hover a {
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #items__hotel:hover a {
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #items__trip:hover a {
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #items__restaurant:hover a {
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #nav__login:hover a {
        border-bottom: 2px solid greenyellow;
        color: orangered;
    }
    #nav__register:hover a {
        border-bottom: 2px solid greenyellow;
        color: orangered;
    }
    .navbar__register {
        display: flex;
        align-items: center;
        gap: 10px;
        letter-spacing: 1px;
    }
    .header__mid {
        text-align: center;
        align-items: center;
    }
    .header__mid__content h2 {
        font-family: 'Beyond';
        font-size: 80px;
    }
    .header__mid__content h1 {
        font-family: "Open Sans";
        font-weight: 900;
        font-size: 92px;
    }
    .food__menu__card__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 2rem;
        margin-top: 1rem;
    }
    .food__list__container {
        position: relative;
        margin: 5rem 0;
    }
    .food__menu__card {
        background-color: white;
        border-radius: 6px;
        flex-basis: 25%;
    }
    .food__list__container .text-x1 {
        text-align: center;
        font-size: 3rem;
    }
    .food__list__container__button__work {
        cursor: pointer;
        transition: 0.5s;
        width: 35%;
        color: black;
        background: rgba(0, 0, 0, 0);
    }
    .food__list__container__button__work:hover {
        width: 25%;
        background: linear-gradient(45deg, #fd7e14, #007bff);
        border-radius: 10px 10px 10px 10px;
        color: white;
    }
    .footer {
        background-color: rgb(0, 0, 0);
    }
    ul {
        list-style: none;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-col {
        width: 25%;
        padding: 55px;
    }
    .footer-col h4 {
        color: blanchedalmond;
        font-size: 15px;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: red;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffff;
        font-weight: 300;
        color: #bbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover {
        color: #ffff;
        padding-left: 6px;
    }
    #footer_logo {
        align-self: center;
    }
}