@font-face {
    font-family: 'Beyond';
    src: url('/assets/fonts/beyond_the_mountains.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Merriweather", "serif";
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    position: relative;
    z-index: 20;
    text-align: center;
}

.navbar__top {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #350a4eef;
}

.navbar__brand {
    width: 100px;
}

.navbar__nav__items {
    display: flex;
}

.navbar__register a, .nav__items a{
    color: white;
}

.brand__logo {
    width: 100%;
    cursor: pointer;
}

.profile__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 20px 0px;
    gap: 10px;
    /* background: black; */
}

.profile__left{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    background: grey;
    border-radius: 20px;
}

.profile__main img{
    flex: 1;
    justify-items: center;
    width: 80px;
    height: 60px;
}
.profile__right{
    width: 100%;
    flex: 3;
    background-color: grey;
    border-radius: 20px;
}

.profile__right p{
    padding: 10px;
}

.user__details{
    flex: 1.5;
}

.user__details input{
    color: black;
    width: 90%;
    border-radius: 3px;
    border: none;
    margin: 5px;
    padding: 5px;
}

@media(min-width:1024px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        row-gap: 150px;
        position: relative;
        z-index: 20;
    }
    .navbar__brand {
        width: 200px;
    }
    .nav__items {
        align-items: center;
        display: flex;
        gap: 50px;
    }

    #items__home a,
    #items__about a,
    #items__offers a,
    #items__contact a,
    #nav__profile a{
        padding: 5px 0;
        cursor: pointer;
    }
    #items__home:hover a{
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #items__about:hover a{
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #items__offers:hover a{
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #items__contact:hover a{
        border-bottom: 2px solid cyan;
        color: orange;
    }
    #nav__profile:hover a{
        border-bottom: 2px solid greenyellow;
        color: orangered;
    }

    .profile__main img{
    width: 100px;
    height:100px;
    }

    .profile__main{
        flex-direction: row;
    }

    .profile__left{
        height: 100%;
        flex-direction: column;
    }

    .profile__right{
        height: 100%;
    }
    .footer {
        background-color: rgb(0, 0, 0);
    }
    ul {
        list-style: none;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-col {
        width: 25%;
        padding: 55px;
    }
    .footer-col h4 {
        color: blanchedalmond;
        font-size: 15px;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: red;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffff;
        font-weight: 300;
        color: #bbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover {
        color: #ffff;
        padding-left: 6px;
    }
    #footer_logo {
        align-self: center;
    }

}